<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/need/header.css">
        <title>Create | Movies</title>
    </head>
<body>   
     <%- include('partials/headerNavbar') %>

     <div class="contenedor-todo">
        <main class="main">
            <div class="container">
    <h1>CREA UNA PELICULA:</h1>
    <br><br>
    <form action="/movies/create" method="POST">
        <label for="">Titulo:</label><br>
        <input type="text" name="title"><br>
        <label for="">Rating:</label><br>
        <input type="text" name="rating"><br>
        <label for="">Premios:</label><br>
        <input type="text" name="awards"><br>
        <label for="">Duracion(min):</label><br>
        <input type="text" name="length"><br>
        <label for="">ELEJITE UN GENERO PAPÁ</label>
        <select name="genero" id="">
            <%generos.forEach(function(genero,i){%>
            <option value="<%=genero.id%>"><%=genero.name%></option>
            <%})%>
        </select><br>
        <select name="actor" id="">
            <%actores.forEach(function(actor,i){%>
                <option value="<%=actor.id%>"><%=actor.first_name%> <%=actor.last_name%></option>
            <%})%>
        </select>
        <select name="actor2" id="">
            <%actores.forEach(function(actor,i){%>
                <option value="<%=actor.id%>"><%=actor.first_name%> <%=actor.last_name%></option>
            <%})%>
        </select>
        <button type="submit">Crear</button>
    </form>


</div>
</main>
</div>
</body>
</html>