<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/need/header.css">
        <title>Update | Movies</title>
    </head>
<body>   
     <%- include('partials/headerNavbar') %>

     <div class="contenedor-todo">
        <main class="main">
            <div class="container">
    <h1>ACTUALIZA LA PELICULA: <%= movie.title%></h1>
    <br><br>
    <form action="/movies/update/<%= movie.id%>" method="POST">
        <label for="">Titulo:</label><br>
        <input type="text" name="title" value="<%= movie.title%>"><br>
        <label for="">Rating:</label><br>
        <input type="text" name="rating" value="<%= movie.rating%>"><br>
        <label for="">Premios:</label><br>
        <input type="text" name="awards" value="<%= movie.awards%>"><br>
        <label for="">Duracion(min):</label><br>
        <input type="text" name="length" value="<%= movie.length%>"><br>
        <button type="submit">Actualizar</button>
    </form>

</div>
</main>
</div>
</body>
</html>